### list
 1) List is an ordered sequence of items. 
 
2) We can have different data types under a list. E.g we can have integer, float and string items in 
a same list.

In [1]:
l=[]
l

[]

In [3]:
type(l)

list

In [5]:
print(type(l))

<class 'list'>

In [12]:
l=[10,20,30] #list of integers

In [14]:
l1=[10.2,20.5,30.56,60.5,54.5] # list of float numbers

In [16]:
l2=['one','two','three','four','five','sixth'] #list of strings

In [18]:
l3=[10,'pooja',[1,2,5],['abhi',2.5,10]] #nested list

In [20]:
l4=['abhi',2.5,10]

In [22]:
l5=[10,'pooja',[1,2,5],['abhi',2.5,10],{'aadi','shri'}]

In [24]:
len(l3) #length of list

4

#### LIST Indexing

In [28]:
l1=[10.2,20.5,30.56,60.5,54.5] # list of float numbers

In [30]:
 l1[1]  #retrieve second element of list

20.5

In [32]:
l4[0][2] # nexted indexing , access 3rd character of first element   ['abhi',2.5,10]

'h'

In [34]:
l4[-1]  #last item of list  ['abhi',2.5,10]

10

#### SLICING

In [40]:
l2=['one','two','three','four','five','sixth']

In [44]:
l2[0:3]  #Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [46]:
l2[2:5]  #  List all items from 2nd to 5th index location excluding the item 'sixth'

['three', 'four', 'five']

In [48]:
l2[:3]  # return first three items

['one', 'two', 'three']

In [50]:
l2[-3:] #return last three items

['four', 'five', 'sixth']

In [52]:
l2[:] #return all items

['one', 'two', 'three', 'four', 'five', 'sixth']

#### Add , Remove & Change Items (Append, insert, pop, remove, change value of list, clear, del, copy, join, sort, reverse list, list membership, loop though list, all/any

In [ ]:
l2=['one','two','three','four','five','sixth']

In [60]:
l2.append('seven')  #  Add an item to the end of the list (also it allow duplication ,how many times u run this code )
l2

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven', 'seven', 'seven']

In [62]:
l2.insert(9,'eight')  # Add item at index location 9 
l2

['one',
 'two',
 'three',
 'four',
 'five',
 'sixth',
 'seven',
 'seven',
 'seven',
 'eight']

In [64]:
l2.insert(1,'onne') #insert item at index location 1
l2

['one',
 'onne',
 'two',
 'three',
 'four',
 'five',
 'sixth',
 'seven',
 'seven',
 'seven',
 'eight']

In [66]:
l2.remove('onne')  #Remove item "ONE" 
l2

['one',
 'two',
 'three',
 'four',
 'five',
 'sixth',
 'seven',
 'seven',
 'seven',
 'eight']

In [68]:
l2.remove('seven') # Remove item "seven" 
l2

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven', 'seven', 'eight']

In [70]:
l2.pop()  #remove last item of list
l2

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven', 'seven']

In [72]:
l2.pop(7) # Remove item at index location 7
l2

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven']

In [78]:
del l2[6] #delete item at index location 6
l2

[1, 2, 3, 'four', 'five', 'sixth']

In [74]:
#change value of string
l2[0]=1
l2[1]=2
l2[2]=3
l2

[1, 2, 3, 'four', 'five', 'sixth', 'seven']

In [80]:
l2.clear() #clear all item from list
l2

[]

In [82]:
del l2  #delete whole list
l2

NameError: name 'l2' is not defined

#### copy

In [111]:
list1=['one','two','three','four','five','sixth']

In [113]:
List2=list1  #Create a new reference "NewList"

In [115]:
id(List2), id(list1)  #address of both list will be same

(2753522563456, 2753522563456)

In [117]:
list3= list1.copy()  #create a copy of list

In [119]:
id(list3) # The address of list3 will be different from list1

2753522648128

In [121]:
list1[0]=1
list1

[1, 'two', 'three', 'four', 'five', 'sixth']

In [123]:
List2  # NewList will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'sixth']

In [125]:
list3   # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'sixth']

#### join list

In [133]:
list=['one','two','three','four']
list2=['five','sixth','seven']

In [135]:
list3=list+list2
list3

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven']

In [137]:
list.extend(list2)  #append list2 with list
list

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven']

#### list membership

In [140]:
list

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven']

In [142]:
'one' in list

True

In [144]:
'ten' in list

False

In [146]:
# check if elevan exist in list
if 'elevan' in list:
    print("elevan is present in list")
else:
    print("elevan is not present in list")

elevan is not present in list

#### reverse and sort list

In [151]:
list

['one', 'two', 'three', 'four', 'five', 'sixth', 'seven']

In [153]:
list.reverse()  #reverse the list
list

['seven', 'sixth', 'five', 'four', 'three', 'two', 'one']

In [157]:
list=list[::-1]   #reverse the list
list

['seven', 'sixth', 'five', 'four', 'three', 'two', 'one']

In [161]:
list3=[11,25,3,14,55,46]
list3.sort()    Sort list in ascending order 
list3

[3, 11, 14, 25, 46, 55]

In [163]:
list3=[11,25,3,14,55,46]
list3.sort(reverse=True)  Sort list in descending order 
list3

[55, 46, 25, 14, 11, 3]

In [165]:
list3=[11,25,3,14,55,46]
sorted(list3)   # Returns a new sorted list and doesn't change original list

[3, 11, 14, 25, 46, 55]

In [167]:
list3

[11, 25, 3, 14, 55, 46]

#### loop through list

In [172]:
list1

[1, 'two', 'three', 'four', 'five', 'sixth']

In [174]:
for i in list1:
    print(i)

1
two
three
four
five
sixth

In [176]:
for i in enumerate(list1):
    print(i)                     #return index with value

(0, 1)
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'sixth')

##### count

In [183]:
list1=[1,2,3,4,6,1,2,3,8,6,4,2,3]

In [185]:
list1.count(1) #Number of times item 1 occurred in the list.

2

In [187]:
list1.count(3)  # Occurence of item 3 in the list

3

#### All/Any
The all() method returns: 
 
True - If all elements in a list are true   and
False - If any element in a list is false 
 
The any() function returns True if any element in the list is True. If not, any() returns False.

In [215]:
L1=[1,2,3,4,0]

In [219]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [231]:
L1=[1,2,3,4,5,0]

In [233]:
any(L1) # Will Return True as we have items in the list with True value

True

In [235]:
l2=[1,2,3,True,False]

In [237]:
all(l2) # Returns false as one value is false

False

In [239]:
any(l2) # Will Return True as we have items in the list with True value

True

In [246]:
#What is the correct way to check if a variable is of a specific type in Python? 
a=1
isinstance(a,int)

True

In [248]:
x=5
y=2
print(x//y)

2

In [250]:
x=-10
y=3
print(x//y)

-4

In [262]:
x=-11
y=2
print(x//y)

-6

In [266]:
x="hello"
print(x[1:4])

ell

In [272]:
my_list = ["Python", "is", "fun"]
single_string = " ".join(my_list)
print(single_string)

Python is fun

In [1]:
num=4+0j
print(type(num))

<class 'complex'>

In [3]:
print(int(3.9))

3

In [5]:
a="python" + ".py"
print(a)

python.py

In [9]:
my_dict = {"name": "Alice", "age": 30}
type(my_dict)

dict

In [ ]:
my_set = {1, 2, 3}
my_set

In [21]:
print(str(True), end='')
int('4.5')

True

ValueError: invalid literal for int() with base 10: '4.5'

In [59]:
set1={1,5,3,6,4}
print(set1)
type(set1)

{1, 3, 4, 5, 6}

set

In [33]:
x=50
def fun1():
    x=25
    print(x)
fun1()
print(x)

25
50

In [39]:
x=75
def fun():
    #x=25
    x=x+1
    print(x)
fun()
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [41]:
print(type(0xFF))

<class 'int'>

In [51]:
str1="Ault\'kelly"
type(str1)

str

In [49]:
a=(1,'pakd',1+3j)
print(type(a[2:3]))

<class 'tuple'>

In [53]:
q=3.14
type(q)

float

In [55]:
x=10
y="20"
print(x+int(y))

30