#### 1. Tuple creation
- A tuple in Python is an ordered collection of items
-  similar to a list, but with a key distinction: immutability.
-   This means that once a tuple is created, its elements cannot be changed, added, or removed.
-   Allows Duplicates
-   Heterogeneous
-   Defined with Parentheses ()

In [2]:
tup1=()

In [3]:
tup1=(5,10,15,20)  #tuple of integer numbers

In [4]:
tup2=(25,6.3,5.8,20.4) #tuple of float numbers

In [5]:
tup3=('Apple','Banana','peach','papaya')  # tuple of strings

In [6]:
tup4=(25,'pooja',(10,20),(20,50)) # nested tuples

In [7]:
tup5=(25,2.6,'pooja') # mixed data

In [10]:
tup6=('pooja',30,[20,50],[22,60],{'aadi','dev'},(1,3,6))
tup6

('pooja', 30, [20, 50], [22, 60], {'aadi', 'dev'}, (1, 3, 6))

In [9]:
len(tup6)

6

#### Tuple Indexing

In [5]:
tup2[0] # Retreive first element of the tuple

25

In [9]:
tup4[0] # Retreive first element of the tuple

25

In [17]:
tup4[1][0] # Nested indexing - Access the first character of the first tuple element

'p'

In [19]:
tup4[-1] # Last item of the tuple

(20, 50)

#### tuple slicing

In [24]:
t=('one','two','three','four','five','six')
t

('one', 'two', 'three', 'four', 'five', 'six')

In [26]:
t[0:3]   # Return all items from 0th to 3rd index location excluding the 3rd index

('one', 'two', 'three')

In [28]:
t[2:5]  # List all items from 2nd to 5th index location excluding the 5th index

('three', 'four', 'five')

In [30]:
t[:3] #  # Return first three items

('one', 'two', 'three')

In [32]:
t[-2:] #return last two items

('five', 'six')

In [34]:
t[:] #return all items

('one', 'two', 'three', 'four', 'five', 'six')

#### remove and change items

In [37]:
t

('one', 'two', 'three', 'four', 'five', 'six')

In [41]:
del t[0]  # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [43]:
t[0]=1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del t  # Deleting entire tuple object is possible

#### Loop through a tuple

In [46]:
t

('one', 'two', 'three', 'four', 'five', 'six')

In [48]:
for i in t:
    print(i)

one
two
three
four
five
six

In [50]:
for i in enumerate(t):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')

#### count

In [53]:
t

('one', 'two', 'three', 'four', 'five', 'six')

In [55]:
t.count('one')

1

In [57]:
t.count('three')

1

#### tuple membership

In [60]:
t

('one', 'two', 'three', 'four', 'five', 'six')

In [62]:
'one' in t # check if item exist in tuple

True

In [68]:
if 'three' in t: # Check if 'three' exist in the list 
    print('Three is present in the tuple') 
else: 
    print('Three is not present in the tuple')

Three is present in the tuple

In [72]:
if 'nine' in t: # Check if 'eleven' exist in the list 
    print('nine is present in the tuple') 
else: 
    print('nine is not present in the tuple')

nine is not present in the tuple

#### Index position

In [75]:
t

('one', 'two', 'three', 'four', 'five', 'six')

In [77]:
t.index('one')  # Index of first element equal to 'one'

0

In [79]:
t.index('five')

4

#### sorting

In [82]:
t=(4,3,5,6,7,8,9,2)
t

(4, 3, 5, 6, 7, 8, 9, 2)

In [84]:
sorted(t)

[2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
sorted(t, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2]