### control statement in 'for loops' in python
like break and continue used to control the execution flow of for loop in python.

it is used to when you want to exit a loop or skip a part of the loop based on the given condition.also known as transfer statement.

`break`:stop the execution of the loop

`continue`: continue with the execution ,control will be back in the loop

`pass`:placeholder , which is doing nothing .when we are not sure abt logic ,just paut 'pass' .just to complete statement

In [16]:
nums=[12,15,18,21,26,30,40]
for num in nums:
    if num  % 5== 0:
        print(num)

15
30
40

In [17]:
# use when we have condition
i=1    # initialize
while i<=5:  # condition
    print('data science')
    i=i+1    # increment

data science
data science
data science
data science
data science

In [18]:
# use when we have condition
i=1    # initialize
while i<=5:  # condition
    print('data science',i)
    i=i+1    # increment

data science 1
data science 2
data science 3
data science 4
data science 5

In [19]:
# use when we have condition
i=5    # initialize
while i>=1:  # condition
    print('data science',i)     # when we mention end then new line will not create
    i=i-1    # decrement

data science 5
data science 4
data science 3
data science 2
data science 1

In [26]:
i=1
while i<=5:
    print(' data science',end= "")   # when we mention end then new line will not create.
    j=1
    while j<=4:
        print(' technology',end="")
        j=j+1
    i=i+1
    print()

 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology

In [27]:
i=1
while i<=2:
    j=0
    while j <=2:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [30]:
i=1
while i<=4:
    j=0
    while j <=3:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [31]:
name='pooja'
for j in name:
    print(j)

p
o
o
j
a

In [32]:
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [34]:
for i in range(1,31):
    if i%3!=0:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

### a) break in for loop
using break statement , we can exit from the for loop before it looped through all the element in the sequence .

as soon as it breaks out of the for loop, the control shifts to the immediate next line of the code.
- `break` -> break the loop . real time eg: national highway ROAD camera installtion
- `continue` -> skip the certain place and continue
- `pass` -> pass (ignore)

In [35]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

### continue in for loop
used to stop /skip the block of code in the loop for the current iteration only and continue with the next iteration .

In [40]:
# continue loop won't be terminate and exclued the assign number it give you entire output
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [5]:
for i in range(1,10):
    pass

In [6]:
for i in range (1,11):
    if i == 6:
        continue
    print('hello:' ,i)

hello: 1
hello: 2
hello: 3
hello: 4
hello: 5
hello: 7
hello: 8
hello: 9
hello: 10

In [7]:
# display number which is divisible by 3 and 5
for i in range(1,51):
    if i%3==0 and i%5==0:
        continue # it skip the number which is matched with the conditions
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
end

In [8]:
# display number which is divisble by either 3 or 5
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

#### Patterns

#### Right angle triangle pattern

In [9]:
for i in range(1,6):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

#### Inverted right angle triangle pattern

In [10]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

#### pyramid

In [48]:
for i in range(1,6):
    print(''*(5+i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

#### Inverted Pyramid pattern

In [50]:
for i in range(5,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

#### Diamond Pattern

In [51]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))

for i in range(4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

NameError: name 'python' is not defined

#### Hallow square pattern

In [52]:
for i in range(5):
    for j in range(5):
        if i ==0 or i==4 or j==0 or j==4:
            print('*', end='')
        else:
            print(' ',end='')
    print()

*****
*   *
*   *
*   *
*****

#### Full square pattern

In [54]:
for i in range(5):
    print(' * '*5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

#### Right angle triangle (number pattern)

In [56]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1,i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Inverted right angle triangle (number pattern)

In [57]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1,i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#### Floyd's triangle

In [58]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

#### Hallow right angle triangle

In [60]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*', end=' ')
        else:
            print(' ',end=' ' )
    print()

*
* *
*   *
*     *
* * * * *

#### Hallow Pyramid pattern

In [61]:
for i in range(1,6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2*i-1):
        if j==0 or j==2 *i-2 or i==5:
            print('*', end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

#### Hallow Diamond pattern

In [63]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end= ' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

#### Hallow diamond number pattern

In [66]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end= ' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

#### Butterfly pattern

In [68]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end= ' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j, end=' ')
    print()
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j, end=' ')
    print()
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*', end= ' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*', end=' ')
    print()
for i in range(n,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*', end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

#### Hallow Number Pyramid

In [69]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print(i, end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

#### Full star Pyramid

In [70]:
i=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

#### Inverted Full star Pyramid

In [71]:
i=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [16]:
# Flag
# Define dimensions for the flag
width = 15
height = 5
stripe_height = height // 3
chakra_radius = stripe_height // 2

# Saffron stripe
for i in range(stripe_height):
    print("*" * width)

# White stripe with Ashoka Chakra
for i in range(stripe_height):
    line = ""
    for j in range(width):
        # Approximate chakra center
        chakra_center_x = width // 2
        chakra_center_y = stripe_height // 2

        # Check if the current position is within the chakra circle
        # Using a simplified distance check for character-based drawing
        dist_x = abs(j - chakra_center_x)
        dist_y = abs(i - chakra_center_y)
        if (dist_x**2 + dist_y**2) < (chakra_radius**2):
            line += "o" # Represents a part of the chakra
        else:
            line += "*"
    print(line)

# Green stripe
for i in range(stripe_height):
    print("*" * width)

***************
***************
***************

#### Left Aligned Pyramid Pattern

In [72]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*', end=' ')
    print()

n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Right Aligned Pyramid Pattern

In [73]:
n=5

for i in range(1,n+1):

    for j in range(n-i):
        print(' ', end=' ')
    for j in range(1,i+1):
        print(j, end=' ')
    print()

n=5
for i in range(1,n+1):
    for  j in range(n-i):
        print(' ',end=' ')
    for j in range(i):
        print('*', end=' ')

    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *

In [1]:
# Reverse a number using while loop 

num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [2]:
color=['blue','pink','green','orange','yellow']
for i in color:
    print(i[::-1])

eulb
knip
neerg
egnaro
wolley

In [3]:
num=[1,4,7,8,15,20,35,45,55]
for i in num:
    if i > 15:
        break
    else:
        print(i)

1
4
7
8
15

In [4]:
color=['blue','pink','green','orange','yellow']
for i in color:
    if(i=='pink'):
        continue
        print('hello')
    else:
        print(i)

blue
green
orange
yellow

In [11]:
x=[1,2,3]
for i in range(1,-2,-1):
    print(x[i])

2
1
3

In [12]:
x=[1,2,3]
i=0
while i<len(x):
    print(x[i])
    i=i+1

1
2
3

In [13]:
x=int(input('enter number'))
for i in range (1,6): #1,2,3,4,5
    print(x*i)

enter number 6

6
12
18
24
30

In [14]:
x=int(input('enter number'))
i=1
while i<=5:
    print(x*i)
    i=i+1   # manual increment in while loop

enter number 5

5
10
15
20
25

In [15]:
x=int(input('enter number'))
c=2
while c<=4:
    print(x**c)
    c=c+1

enter number 4

16
64
256

In [16]:
x=['pooja','abhi','aadi','hii','bye']
for i in x:
    print(i[2:])

oja
hi
di
i
e

In [17]:
x=['chdk567jfsh','sad568ddd','dksl973dsd']
for p in x:
    num=''
    for char in p:
        if '0'<= char <= '9':  # a to z for character printing
            num += char  # num =num +char 123
    print(num)

567
568
973

In [18]:
x=int(input('enter num1'))
for i in range(2,5):
    print(x**i)

enter num1 5

25
125
625

In [19]:
x=[11,111,1111,45,67,89]
c=0
while c<len(x):
    if x[c]>=10 and x[c]<=99:
        print(x[c])
    c=c+1

11
45
67
89

In [20]:
x=[11,111,1111,45,67,89]
for i in x:
    if i>=10 and i<=99:
        print(i)

11
45
67
89

In [21]:
x=[5,35.200,63.56,15.40,2,358,64,20.64,56.4,32]
c=0
while c<len(x):
    if type(x[c])==float:           #if that number minus integer of that num 32.5-32 >=.5 ,--> integer of that num+1 
        print(int(x[c])+1)  
    c=c+1

36
64
16
21
57

In [22]:
#if you want to print number above .5 like 63.56 then use logic :  (x[c]-int(x[c]))>= .5:
x=[5,35.200,63.56,15.40,2,358,64,20.64,56.4,32]
c=0
while c<len(x):
    if (x[c]-int(x[c]))>= .5:           
        print(int(x[c])+1)  
    c=c+1

64
21

In [24]:
z=(1,2,3,4,5)
i=0
sum=0
while(i<len(z)):
    sum=sum+z[i]  #1+2+3+4+5
    i=i+1  #1+1+1+1
print(sum)
print(len(z))
print(sum/len(x))

15
5
1.5

In [25]:
#sum of first 5 nums
num=5
sum=0
i=1
while i<=num:
    sum=sum+i #i=1,1+2,3+3,6+4,10+5  #0+1,1+2,2+3,3+4,4+5,5+6
    i=i+1 #6
print("sum is:",sum)

sum is: 15

In [26]:
# find factorial of number
prod=1
x=int(input('enter lower limit'))
y=int(input('enter upper limit'))
for i in range(x,y+1):  #1,2,3,4
    prod=prod*i    #1*1,1*2, 2*3,6*4   #by default lower limit is 1
prod

enter lower limit 5
enter upper limit 10

151200

In [27]:
count=0
while count< 5:
    print(count)
    count=count+1
    if count==3:
        break

0
1
2

In [28]:
list=[50,'helloworld',5.2,52,'pythpn']
i=0
while(i<6):
    print(list[i])
    i=i+1
    if(i==1):
        break

50

In [29]:
name='Aldn99dkfh'
size=len(name)
i=0
while i<size:
    if name[i].isdecimal(): #isdecimal mean any number o-9
        break;
    print(name[i], end=' ')
    i=i+1

A l d n

In [30]:
#find LCM CALCUlator using while loop
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
maximum = max(a, b)
# while loop is used whose condition is always true (or 1)
while(1):
    if(maximum %a==0 and maximum %b==0):
        print("LCM is:",maximum)
        break
    maximum=maximum+1

Enter the first number: 5
Enter the second number: 23

LCM is: 115

In [31]:
#find LCM CALCUlator using for loop

num1 = int(input('Please input the first integer:'))
num2 = int(input('Please input the second integer:'))
for i in range(max(num1, num2), 1 + (num1 * num2)):
    if i % num1 == i % num2 == 0:
        lcm = i
        break
print("LCM of", num1, "and", num2, "is", lcm)

Please input the first integer: 5
Please input the second integer: 3

LCM of 5 and 3 is 15

In [32]:
#Greatest common divisor using for loop

num1 = int(input('Please input the first integer:'))
num2 = int(input('Please input the second integer:'))
gcd=1
for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

Please input the first integer: 5
Please input the second integer: 6

GCD of 5 and 6 is 1

In [33]:
#Greatest common divisor using while loop

num1 = int(input('Please input the first integer:'))
num2 = int(input('Please input the second integer:'))
a=num1
b=num2
while num1 != num2:
    if num1> num2:
        num1 -= num2
    else:
        num2 -= num1
print("GCD of", a, "and", b, "is", num1)

Please input the first integer: 5
Please input the second integer: 3

GCD of 5 and 3 is 1

In [34]:
# find prime number while loop
num=int(input("enter the number :"))
prime = True
for i in range(2, num):
    if num%i==0:
        prime=False
        break
if prime:
    print(num, "is a prime no")
else:
    print(num, "is a not prime no")

enter the number : 6

6 is a not prime no

In [35]:
# calculate power of a number using while loop
base = int(input("Enter the value for base :"))
exponent = int(input("Enter the value for exponent :"))
result=1;
print(base,"to power ",exponent,"=",end = ' ')
#using while loop with a condition that come out of while loop if exponent is 0
while exponent != 0:
    result = base * result
    exponent-=1
print(result)

Enter the value for base : 6
Enter the value for exponent : 6

6 to power  6 = 46656

In [36]:
# find prime number if-else
num=int(input("enter number"))
if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

enter number 5

5 is a prime number

In [37]:
#facbonacci series using for loop
num = int(input("enter num"))
first = 0
second = 1
print(first)
print(second)
for x in range(num):
    third = first + second
    print(third)
    first,second=second,third

enter num 5

0
1
1
2
3
5
8

In [38]:
# sum of digits using while loop

num = int(input("enter num"))
sum = 0
while num > 0:
    sum += num % 10
    num //= 10
print(sum)

enter num 5

5

In [39]:
# sum of digits using for loop
num = int(input("enter num"))
sum=0
for i in str(num):
    sum +=int(i)
print(sum)

enter num 6

6

In [40]:
#factorial of a number using while loop
def factorial(number):
    if number==1:
        return 1
    else:
        return number*factorial(number-1)
num=5
fact=factorial(num)
print("factorial of a",num,"is",fact)

factorial of a 5 is 120

In [41]:
# Sum of even Numbers
sum=0
for i in range(1,101):
    if i%2==0:
        sum+=i
print("sum of even numbers is:",sum)

sum of even numbers is: 2550

In [17]:
#for-else loop ,in this first loop execute after that else part will execute
digits=[0,1,5]
for i in digits:
    print(i)
else:
    print("no items left")

0
1
5
no items left

In [18]:
for num in range(11): #0-10
    #print(num,end="\n") # end="\n" is dilimiter. it print all the element separated in new line
    print(num,end=" ") #print output in same line with space
else:
    print("the loop stop at",num)

0 1 2 3 4 5 6 7 8 9 10 the loop stop at 10

In [19]:
for i in range(1,6):
    print(i)
else:
    print("done")

1
2
3
4
5
done